apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    test: test
    test2: test2
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        imagePullPolicy: Always
        resources:
          requests:
            memory: "64Mi" 
            cpu: "250m"   
          limits:
            memory: "128Mi"
            cpu: "500m"
        fdiosfjoadisjfois: invalid field test
        ports:
        - containerPort: 80