apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  labels:
    app: my-app
    test: test
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  type: ClusterIP
  selector:
    app: my-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80